<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />

    <style>
        .tnc-sec-inner h3 {
            margin: 0 0 0;
            font-size: 23px;
            padding: 0 0 12px;
        }

        .text-para {
            font-size: 16px;
            line-height: 24px;
        }

        .tnc-sec {
            padding: 80px 0 80px;
        }
    </style>
</head>

<body>
    <div class="terms-n-cond-page">
        <section class="tnc-sec">
            <div class="tnc-sec-inner container">
                <h3 style="text-align: center;">Terms and Conditions</h3>
                <div class="text-para">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident
                    molestias doloremque temporibus libero voluptas recusandae enim
                    iusto eveniet voluptate earum nostrum quos sapiente iste, optio
                    fugit autem nemo excepturi quia suscipit, eligendi officia quas.
                    Odit, libero obcaecati voluptatibus ipsa vero natus quam? Odio quia
                    quaerat culpa mollitia suscipit doloribus sint repellat, ipsam
                    quasi, harum id sed sequi tempore, tenetur accusantium inventore
                    nulla quas unde dolores cumque expedita deleniti officiis modi. Nisi
                    libero doloribus expedita, id dicta mollitia a sunt perspiciatis
                    dolorum labore soluta quae enim quidem reprehenderit reiciendis odit
                    obcaecati nesciunt alias aliquam sint ipsam nobis! Laborum possimus
                    sit omnis sapiente earum explicabo odio, optio ut neque autem quo ea
                    dolor asperiores mollitia officia distinctio. Commodi quia accusamus
                    impedit dolores pariatur atque provident, doloremque nam! Totam,
                    possimus dicta similique pariatur deserunt ullam, ipsa animi ab
                    libero qui ipsam rerum ex veniam iste inventore, enim laudantium
                    sunt eligendi. Voluptate est sed at deserunt aspernatur, beatae
                    provident pariatur maiores eligendi maxime nam impedit quibusdam
                    fugit aperiam delectus illum quisquam mollitia sint qui nisi
                    possimus ad quasi? Consectetur molestias dolore quae debitis odit ad
                    veritatis! Architecto maiores quisquam, facilis enim sit quaerat eos
                    ex veniam sunt? Provident, aliquam totam vero cupiditate doloremque
                    illo quibusdam alias, facere molestias quam optio corporis amet
                    nostrum reprehenderit qui mollitia id minus. Optio eveniet quas
                    porro voluptatibus pariatur harum dolor, accusantium nemo veritatis
                    neque repudiandae praesentium suscipit, atque aspernatur est
                    provident totam! Ut repudiandae ipsa perspiciatis voluptatem labore
                    consequuntur suscipit quidem, aperiam repellendus optio quisquam
                    quibusdam, in at? Error dolorum repellendus voluptates quam mollitia
                    velit quo vero. Enim, omnis inventore? Eligendi mollitia assumenda
                    voluptatum ea explicabo blanditiis quam iusto velit dolorem corporis
                    ipsum nihil veniam omnis, sint numquam iste qui! Amet quas accusamus
                    tenetur earum laudantium, autem quaerat unde similique dolorum
                    reprehenderit molestiae explicabo quod fugit, nihil esse, quisquam
                    totam! Distinctio doloremque voluptatibus, harum excepturi fuga
                    magni officia! Consectetur delectus aliquid ea commodi quasi dolores
                    dolor maxime velit ut voluptatum illo asperiores, praesentium
                    necessitatibus quidem porro incidunt dolorum quam magni cum?
                    Repellendus officia, optio odit quam saepe sunt, animi vitae nisi
                    veniam, culpa et beatae temporibus nostrum quas reprehenderit
                    itaque! Impedit eum commodi cumque quisquam accusantium quia nemo
                    ullam, maxime possimus, fugit ducimus hic ratione dolores ut
                    obcaecati itaque! Soluta maxime, optio quibusdam impedit quisquam,
                    sapiente incidunt adipisci officia voluptatem ratione nulla.
                    Consequatur dolorum ea recusandae totam quod repellendus velit sed
                    quidem repellat excepturi atque, at nulla, voluptatibus possimus?
                    Tempora libero pariatur praesentium corporis inventore, repellat
                    harum animi expedita quia, necessitatibus fugiat sequi minus aliquid
                    non nostrum debitis? Porro unde repudiandae amet consequuntur aut,
                    reprehenderit odit obcaecati odio illo laborum facilis possimus id
                    quasi tempora quis. A laboriosam odio porro dolore ratione suscipit
                    praesentium, pariatur repellendus quisquam sapiente facere adipisci
                    omnis sit, deserunt modi repudiandae minus aliquam molestiae officia
                    vel mollitia! Commodi illum ut fugit, nesciunt veritatis expedita
                    voluptas sapiente fugiat sunt quae, quaerat nostrum autem magni.
                    Sunt enim unde ad doloribus blanditiis debitis deserunt nesciunt
                    est, beatae nihil veniam soluta necessitatibus dolor cum minima
                    suscipit facilis consectetur.
                </div>
            </div>
        </section>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
</body>

</html>